@import '../node_modules/bootstrap/scss/functions';

$gold: #fad70a;
$lincolnGreen: #24450c;
$darkCharcoal: #333333;
$lotion: #fcfcfc;
$sunsetOrange: #ff5a5a;
$persianGreen: #0bb68c;
$gray: #bababa;
$antiFlash: #f2f2f2;
$coralRed: #ff3838;
$coral: #ff7755;

$belifeful-colors: (
  'gold': $gold,
  'lincoln-green': $lincolnGreen,
  'dark-charcoal': $darkCharcoal,
  'lotion': $lotion,
  'sunset-orange': $sunsetOrange,
  'persian-green': $persianGreen,
  'gray': $gray,
  'anti-flash': $antiFlash,
  'coral-red': $coralRed,
  'coral': $coral,
);

@import '../node_modules/bootstrap/scss/variables';

$body-bg: $lotion;
$theme-colors: map-merge($theme-colors, $belifeful-colors);
$font-family-base: 'Nunito', sans-serif;
$input-btn-focus-color: rgba($gold, $input-btn-focus-color-opacity);
$input-focus-border-color: tint-color($gold, 50%);
$input-focus-box-shadow: 0px 0px 7px 1px rgba($gold, 0.7);
// $input-placeholder-color: $darkCharcoal;
$font-weight-bolder: 800;
$card-border-color: transparent;
$box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);

$font-sizes: map-merge(
  $font-sizes,
  (
    7: $font-size-base * 0.75,
  )
);

$spacers: map-merge(
  (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
  ),
  (
    6: $spacer * 5,
    7: $spacer * 5.5,
    8: $spacer * 6,
    9: $spacer * 6.5,
    10: $spacer * 10,
  )
);

@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/root';
@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/helpers';
@import '../node_modules/bootstrap/scss/utilities/api';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/card';
@import '../node_modules/bootstrap/scss/placeholders';
